/****************************************************************************


win16.rc

produced by Borland Resource Workshop


*****************************************************************************/

#define IDD_MAIN	1
#define IDC_EDIT1	101
#define IDC_TEXTLOG	102
#define IDC_GROUPBOX1	101
#define IDC_STATICTEXT1	103
#define IDC_STATICTEXT3	105
#define IDC_STATICTEXT4	106
#define IDC_STATICTEXT5	107
#define IDC_STATICTEXT6	108
#define IDC_STATICTEXT7	109
#define IDC_STATICTEXT8	110
#define IDC_STATICTEXT9	111
#define IDC_STATICTEXT10	112
#define IDC_STATICTEXT11	113
#define IDC_STATICTEXT12	114
#define IDC_STATICTEXT13	115
#define IDC_STATICTEXT14	116
#define IDC_STATICMEMPAGESFREE	116
#define IDC_STATICMEMPAGESUSED	113
#define IDC_STATICMEMMANAGERPAGES	112
#define IDC_STATICMEMPAGECOUNT	109
#define IDC_STATICMEMPAGESIZE	108
#define IDC_STATICMEMGRANT	105
#define IDC_STATICMEMREQUEST	104
#define IDC_STATICTEXT2	104
#define IDC_LISTBOX1	102

IDD_MAIN DIALOG 0, 0, 479, 308
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "ListBox1", IDC_TEXTLOG, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 72, 464, 220
 CONTROL "Stats", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 4, 464, 64
 CONTROL "Physical Request", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 15, 56, 8
 CONTROL "00000000", IDC_STATICMEMREQUEST, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 72, 15, 38, 8
 CONTROL "00000000", IDC_STATICMEMGRANT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 72, 27, 38, 8
 CONTROL "Pgysical Grant", IDC_STATICTEXT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 27, 52, 8
 CONTROL "Page Size", IDC_STATICTEXT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 39, 52, 8
 CONTROL "00000000", IDC_STATICMEMPAGESIZE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 72, 39, 38, 8
 CONTROL "00000000", IDC_STATICMEMPAGECOUNT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 72, 52, 38, 8
 CONTROL "Page Count", IDC_STATICTEXT8, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 52, 52, 8
 CONTROL "Manager Pages", IDC_STATICTEXT9, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 113, 15, 52, 8
 CONTROL "00000000", IDC_STATICMEMMANAGERPAGES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 169, 15, 41, 8
 CONTROL "00000000", IDC_STATICMEMPAGESUSED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 169, 27, 59, 8
 CONTROL "Pages used", IDC_STATICTEXT12, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 113, 27, 52, 8
 CONTROL "Pages Free", IDC_STATICTEXT13, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 113, 39, 52, 8
 CONTROL "00000000", IDC_STATICMEMPAGESFREE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 169, 39, 59, 8
}

